{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
  <h2>Bottom Wear</h2>
  <!-- Slider 1 -->
  <div class="owl-carousel" id="slider1">
    {% for b in bottomwear %}
    <a href="{% url 'product-detail' b.id %}" class="btn">
      <div class="item"><img src={{b.Product_image.url}} alt="" height="200px"><span
          class="fw-bold">{{b.title}}</span><br><span class="fs-5">RS : {{b.discounted_price}}</span></div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 1st Product Slider -->


<!-- 2nd Product Slider -->
<div class="mx-3">
  <h2>Mobile</h2>
  <!-- Slider 2 -->
  <div class="owl-carousel" id="slider2">
    {% for m in mobile %}
    <a href="{% url 'product-detail' m.id %}" class="btn">
      <div class="item"><img src={{m.Product_image.url}} alt="" height="200px"><span
          class="fw-bold">{{m.title}}</span><br><span class="fs-5">RS : {{m.discounted_price}}</span></div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 2nd Product Slider -->

<!-- 3rd Product Slider -->
<div class="mx-3">
  <h2>Top Wear</h2>
  <!-- Slider 2 -->
  <div class="owl-carousel" id="slider2">
    {% for t in topwear %}
    <a href="{% url 'product-detail' t.id %}" class="btn">
      <div class="item"><img src={{t.Product_image.url}} alt="" height="200px"><span
          class="fw-bold">{{t.title}}</span><br><span class="fs-5">RS : {{t.discounted_price}}</span></div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 2nd Product Slider -->

<!-- 2nd Product Slider -->
<div class="mx-3">
  <h2>Laptop</h2>
  <!-- Slider 2 -->
  <div class="owl-carousel" id="slider2">
    {% for l in laptop %}
    <a href="{% url 'product-detail' l.id %}" class="btn">
      <div class="item"><img src={{l.Product_image.url}} alt="" height="200px"><span
          class="fw-bold">{{l.title}}</span><br><span class="fs-5">RS : {{l.discounted_price}}</span></div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 2nd Product Slider -->
{% endblock main-content %}